<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.axio.masterMentsetSystem.repository.MRuleGroupEntityMapper">
  <resultMap id="BaseResultMap" type="jp.co.axio.masterMentsetSystem.model.MRuleGroupEntity">
    <id column="rule_id" jdbcType="VARCHAR" property="ruleId" />
    <id column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="register_id" jdbcType="VARCHAR" property="registerId" />
    <result column="regist_ts" jdbcType="TIMESTAMP" property="registTs" />
    <result column="updater_id" jdbcType="VARCHAR" property="updaterId" />
    <result column="update_ts" jdbcType="TIMESTAMP" property="updateTs" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rule_id, group_id, register_id, regist_ts, updater_id, update_ts
  </sql>
  <select id="selectByExample" parameterType="jp.co.axio.masterMentsetSystem.model.MRuleGroupEntityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from public.m_rule_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="jp.co.axio.masterMentsetSystem.model.MRuleGroupEntityKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from public.m_rule_group
    where rule_id = #{ruleId,jdbcType=VARCHAR}
      and group_id = #{groupId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="jp.co.axio.masterMentsetSystem.model.MRuleGroupEntityKey">
    delete from public.m_rule_group
    where rule_id = #{ruleId,jdbcType=VARCHAR}
      and group_id = #{groupId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="jp.co.axio.masterMentsetSystem.model.MRuleGroupEntityExample">
    delete from public.m_rule_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="jp.co.axio.masterMentsetSystem.model.MRuleGroupEntity">
    insert into public.m_rule_group (rule_id, group_id, register_id, 
      regist_ts, updater_id, update_ts
      )
    values (#{ruleId,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, #{registerId,jdbcType=VARCHAR}, 
      #{registTs,jdbcType=TIMESTAMP}, #{updaterId,jdbcType=VARCHAR}, #{updateTs,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="jp.co.axio.masterMentsetSystem.model.MRuleGroupEntity">
    insert into public.m_rule_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ruleId != null">
        rule_id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="registerId != null">
        register_id,
      </if>
      <if test="registTs != null">
        regist_ts,
      </if>
      <if test="updaterId != null">
        updater_id,
      </if>
      <if test="updateTs != null">
        update_ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ruleId != null">
        #{ruleId,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="registerId != null">
        #{registerId,jdbcType=VARCHAR},
      </if>
      <if test="registTs != null">
        #{registTs,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null">
        #{updaterId,jdbcType=VARCHAR},
      </if>
      <if test="updateTs != null">
        #{updateTs,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="jp.co.axio.masterMentsetSystem.model.MRuleGroupEntityExample" resultType="java.lang.Long">
    select count(*) from public.m_rule_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update public.m_rule_group
    <set>
      <if test="record.ruleId != null">
        rule_id = #{record.ruleId,jdbcType=VARCHAR},
      </if>
      <if test="record.groupId != null">
        group_id = #{record.groupId,jdbcType=VARCHAR},
      </if>
      <if test="record.registerId != null">
        register_id = #{record.registerId,jdbcType=VARCHAR},
      </if>
      <if test="record.registTs != null">
        regist_ts = #{record.registTs,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updaterId != null">
        updater_id = #{record.updaterId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTs != null">
        update_ts = #{record.updateTs,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update public.m_rule_group
    set rule_id = #{record.ruleId,jdbcType=VARCHAR},
      group_id = #{record.groupId,jdbcType=VARCHAR},
      register_id = #{record.registerId,jdbcType=VARCHAR},
      regist_ts = #{record.registTs,jdbcType=TIMESTAMP},
      updater_id = #{record.updaterId,jdbcType=VARCHAR},
      update_ts = #{record.updateTs,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="jp.co.axio.masterMentsetSystem.model.MRuleGroupEntity">
    update public.m_rule_group
    <set>
      <if test="registerId != null">
        register_id = #{registerId,jdbcType=VARCHAR},
      </if>
      <if test="registTs != null">
        regist_ts = #{registTs,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null">
        updater_id = #{updaterId,jdbcType=VARCHAR},
      </if>
      <if test="updateTs != null">
        update_ts = #{updateTs,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rule_id = #{ruleId,jdbcType=VARCHAR}
      and group_id = #{groupId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="jp.co.axio.masterMentsetSystem.model.MRuleGroupEntity">
    update public.m_rule_group
    set register_id = #{registerId,jdbcType=VARCHAR},
      regist_ts = #{registTs,jdbcType=TIMESTAMP},
      updater_id = #{updaterId,jdbcType=VARCHAR},
      update_ts = #{updateTs,jdbcType=TIMESTAMP}
    where rule_id = #{ruleId,jdbcType=VARCHAR}
      and group_id = #{groupId,jdbcType=VARCHAR}
  </update>
</mapper>