<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<!-- <script type="text/javascript" src="chrome-extension://mdnleldcmiljblolnjhpnblkcekpdkpa/libs/customElements.js" class="__REQUESTLY__SCRIPT"></script> -->
<head>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>利用者CSV管理</title>

  <link th:href="@{/vendor/jquery-ui-1.12.1/jquery-ui.css}" rel="stylesheet">
  <link th:href="@{/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css}" rel="stylesheet">
  <!-- <link href="./vendor/bootstrap-5.0.2-dist/datepicker/css/bootstrap-datetimepicker.css" rel="stylesheet"> -->
  <link th:href="@{/vendor/datatables/dataTables.bootstrap.css}" rel="stylesheet">
  <link th:href="@{/css/common.css}" rel="stylesheet">
  <link th:href="@{/vendor/fontawesome-free-6.1.1-web/css/all.css}" rel="stylesheet">
  <!-- DataTables -->
  <!-- <link rel="stylesheet" href="./vendor/AdminLTE-3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"> -->
  <link th:href="@{/vendor/datatables/1.13.6/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/datatables/1.13.6/css/dataTables.bootstrap5.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/datatables/1.13.6/css/fixedColumns.dataTables.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/AdminLTE-3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/AdminLTE-3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/AdminLTE-3.2.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css}" rel="stylesheet">
  <!-- Theme style -->
  <link th:href="@{/vendor/AdminLTE-3.2.0/dist/css/adminlte.min.css}" rel="stylesheet">
  <!-- SweetAlert2 CSS Style -->
  <link th:href="@{/vendor/sweetalert2/css/sweetalert2.min.css}" rel="stylesheet">
  <!-- 個別設定CSS -->
  <link th:href="@{/css/userCsv.css}" rel="stylesheet">
  <!-- common's javascript start
  <script type="text/javascript" src="./vendor/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="./vendor/jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="./vendor/datatables/jquery.dataTables.js"></script>
  <script type="text/javascript" src="./vendor/datatables/dataTables.bootstrap.js"></script>
  <script type="text/javascript" src="./vendor/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script> -->
  <!-- <script type="text/javascript" src="./vendor/bootstrap-5.0.2-dist/datepicker/js/moment.min.js"></script> -->
  <!-- <script type="text/javascript" src="./vendor/bootstrap-5.0.2-dist/datepicker/js/moment-with-locales.min.js"></script> -->
  <!-- <script type="text/javascript" src="./vendor/bootstrap-5.0.2-dist/datepicker/js/bootstrap-datetimepicker.js"></script> -->
  <!-- <script type="text/javascript" src="./vendor/knockout-3.4.2.js"></script> -->
  <!-- <script type="text/javascript" src="./js/axio_common.js"></script> -->
  <!-- common's javascript end -->
  <!-- <script type="text/javascript" src="./js/userList.js"></script> -->
  <!-- <script type="text/javascript" src="./js/userSearch.js"></script> -->
</head>
<body>
     <form id="confirmForm" th:action="@{/csvConfirm}"  method="post" class="form-horizontal"></form>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>利用者CSV管理</title>

  <link th:href="@{/vendor/jquery-ui-1.12.1/jquery-ui.css}" rel="stylesheet">
  <link th:href="@{/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css}" rel="stylesheet">
  <!-- <link th:href="@{/vendor/bootstrap-5.0.2-dist/datepicker/css/bootstrap-datetimepicker.css}" rel="stylesheet"> -->
  <link th:href="@{/vendor/datatables/dataTables.bootstrap.css}" rel="stylesheet">
  <link th:href="@{/vendor/datatables/1.13.6/css/select.dataTables.min.css}" rel="stylesheet">
  <link th:href="@{/css/common.css}" rel="stylesheet">
  <!-- 個別設定CSS -->
  <link th:href="@{/assets/css/style2.css}" rel="stylesheet">
  <link th:href="@{/css/userCsv.css}" rel="stylesheet">
  <!-- <link href="./css/original.css" rel="stylesheet"> -->

  <!--// header -->
  <header id="header" class="header">
    <div class="header__inner">
      <figure class="header__img"><img src="./assets/img/common/img_logo01.png" alt="AXIO" width="73"
          height="36"></figure>
      <a href="./logout" class="header__link">ログアウト</a>
    </div>
  </header>
  <!-- header //-->
  <div class="modTitleArea">
    <div class="modTitleArea__inner">
      <h1 class="modTitleArea__title"><i class="fa-solid fa-users-rectangle">　利用者CSV管理</i></h1>
      <a href="./login" class="modTitleArea__prevButton"><span>戻る</span></a>
    </div>
  </div>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="card searchCard cardUniversal">
            <div class="card-header">
              <div class="row">
                <div class="col-12">
                  <h2>
                    <i class="fa-solid fa-file-export"></i>　CSV操作
                  </h2>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- アップロード -->
              <div class="row">
                <div class="card card-danger card-outline">
                  <a class="d-block">
                    <div class="card-header">
                      <span class="fa-stack" style="font-size: 10px;">
                        　<i class="fas fa-circle fa-stack-2x"></i>
                        　<i class="fa-solid fa-1 fa-inverse fa-stack-1x"></i>
                        </span>　アップロード
                    </div>
                  </a>
                  <div class="card-body usercsvDisplayCard">
                    <div class="row">
                      <div class="col-12">
                        アップロードするファイルを選択してください。<br/>※アップロードした時点では、まだ反映されません。
                        <input class="form-control" type="file" id="csvFile" name="csvFile">
                      </div>
                    </div>
                    <div class="mb-3"></div>
                    <div class="row">
                      <div class="col-12">
                        <button id="userUpload" type="button" class="btn btn-danger btn-lg" style="width: 100%;" disabled>
                          <i class="fa-solid fa-upload"></i>　アップロード　
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" >
                <div class="col-12 d-flex justify-content-center" style="margin-bottom: 8px;">
                  <!-- <i class="fa-solid fa-circle-down" style="font-size: 30px;"></i> -->
                  <i class="fa-solid fa-sort-down" style="font-size: 30px;"></i>
                </div>
              </div>
              <!-- 確定 -->
              <div class="row">
                <div class="card card-success card-outline">
                  <a class="d-block">
                    <div class="card-header">
                      <span class="fa-stack" style="font-size: 10px;">
                        　<i class="fas fa-circle fa-stack-2x"></i>
                        　<i class="fa-solid fa-2 fa-inverse fa-stack-1x"></i>
                        </span>　確定
                    </div>
                  </a>
                  <div class="card-body usercsvDisplayCard">
                    <div class="row">
                      <div class="col-12">
                        アップロードした利用者情報を反映します。
                      </div>
                    </div>
                    <div class="mb-3"></div>
                    <div class="row">
                      <div class="col-12">
                        <button id="userAddBtn" type="button" class="btn btn-success btn-lg" style="width: 100%;" disabled>
                          <i class="fa-solid fa-check"></i>　確定　
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 利用者一覧 -->
        <div class="col-8">
          <div class="card searchCard cardUniversal">
              <div class="card-header">
                <div class="row">
                  <div class="col-3">
                    <h2>
                      <i class="fa-solid fa-list"></i>　更新利用者一覧
                    </h2>
                  </div>
                  <div class="col-9">
                  </div>
                </div>
              </div>
              <div class="mb-2"></div>
              <div class="row d-flex justify-content-end">
                <div class="col-4">
                  <button id="openUserCsvReserveBtn" type="button" class="btn btn-secondary btn-lg" style="width: 100%;">
                    　反映待ちの利用者を表示　<i class="fa-solid fa-arrow-up-right-from-square"></i>
                  </button>
                </div>
              </div>
            <div class="tableContainer">
              <!-- 利用者一覧テーブル -->
              <div class="row">
                <div class="col-12">
                  <div class="mb-2"></div>
                  <div class="card">
                    <div class="card-body">
                      <table id="userListTable" class="table userTable">
                        <thead>
                          <tr>
                            <th class="statusColumn">差分</th>
                            <th class="userIdColumn">利用者ID</th>
                            <th class="userClassColumn">利用者区分</th>
                            <th class="reflectionDate">反映日</th>
                            <th class="fullNameColumn">氏名(漢字)</th>
                            <th class="fullNameEnColumn">氏名(英字)</th>
                            <th class="studentIdColumn">学籍番号</th>
                            <th class="useVpnColumn">VPN</th>
                          </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>


                    <!-- エラー件数 -->
                    <div class="row">
                      <div id="errCount" class="col-2 dataTables_info" style="color: red;">
                      </div>
                      <!-- <div class="col-4">
                        <input class="form-check-input" type="checkbox" value="" id="sortError">
                          <label class="form-check-label" for="sortError">
                            ：エラーの利用者のみ表示する
                          </label>
                      </div> -->
                     </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer id="footer" class="footer">
    <p class="footer__text">Copyright © AXIO corporation. All Rights Reserved.</p>
  </footer>
  <!-- モーダル領域 -->
  <!-- ロック確認モーダル -->
  <div class="modal fade" id="errorMessageModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header card-axio">
          <h5 class="modal-title" id="demoModalTitle">エラー内容</h5>
        </div>
        <div class="modal-body" id="modal_content" style="font-size: 16px; padding-bottom: 5px;">
          <div style="margin-bottom: 15px;">
            <!-- 対象 -->
            <div class="row">
              <div class="col-4 d-flex justify-content-end">
                利用者ID：
              </div>
              <div id="errorMessageModalUserId" class="col-8">
                10001
              </div>
            </div>

            <!-- 必須 -->
            <div class="row">
              <div class="col-4 d-flex justify-content-end">
                必須チェック：
              </div>
              <div id="errorMessageModalRequired" class="col-8">
                「氏名」が入力されていません。
              </div>
            </div>

            <!-- 重複 -->
            <div class="row">
              <div class="col-4 d-flex justify-content-end">
                重複チェック：
              </div>
              <div id="errorMessageModalDuplicated" class="col-8">
                「利用者ID」が重複しています。
              </div>
            </div>

          </div>
          <!-- /.card -->
        </div>
        <div class="modal-footer" style="font-size: 16px;">
          <div class="">
            <button type="button" class="btn btn-outline-secondary btn-lg" data-bs-dismiss="modal">
              　閉じる　
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ロック確認モーダル ここまで -->
  
  <!-- 解除確認モーダル -->
  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
       data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header card-axio">
          <h5 class="modal-title" id="userUnlockModalTitle">確認画面</h5>
        </div>
        <div class="modal-body" style="font-size: 16px; padding-bottom: 5px;">
            <div style="margin-bottom: 15px;" id="confirmMessage">
            </div>
        </div>

        <div class="modal-footer" style="font-size: 16px;">
          <div class="">
            <button type="button" class="btn btn-outline-secondary btn-lg" data-bs-dismiss="modal">
              　キャンセル　
            </button>
            <button id="btnConfirmOK" type="button" class="btn btn-primary btn-lg" >
              　
              <i class="fa-solid fa-check"></i>
              　確定　　
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 解除確認モーダル ここまで -->
  
  <!-- モーダル領域 ここまで-->
  <!-- JS -->
    <!-- common's javascript start -->
    <!-- <script type="text/javascript" src="./vendor/jquery-3.2.1.js"></script> -->
    <script th:src="@{/vendor/jquery-3.7.0.js}" type="text/javascript"></script>
    <script th:src="@{/vendor/jquery-ui-1.12.1/jquery-ui.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendor/bootstrap-5.0.2-dist/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendor/datatables/1.13.6/js/jquery.dataTables.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendor/datatables/1.13.6/js/dataTables.bootstrap5.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendor/datatables/1.13.6/js/dataTables.select.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendor/datatables/1.13.6/js/dataTables.checkboxes.js}" type="text/javascript"></script>
    <script th:src="@{/vendor/knockout-3.4.2.js}" type="text/javascript"></script>
    <script th:src="@{/vendor/sweetalert2/js/sweetalert2.min.js}" type="text/javascript"></script>

    <!-- common's javascript end -->
    <!--個別設定JS-->
  <script type="text/javascript" th:src="@{./js/common.js}"></script>
    <script th:src="@{/js/userCsv.js}" type="text/javascript"></script>
  　<!--AXIOS設定-->
    <script th:src="@{/webjars/axios/dist/axios.min.js}"></script>
</body>

</html>