<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ユーザーID一覧画面</title>
	<link href="/vendor/jquery-ui-1.12.1/jquery-ui.css" th:href="@{/vendor/jquery-ui-1.12.1/jquery-ui.css}" rel="stylesheet" />
	<link href="/vendor/bootstrap-3.3.7/css/bootstrap.min.css" th:href="@{/vendor/bootstrap-3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
	<link href="/vendor/bootstrap-3.3.7/datepicker/css/bootstrap-datetimepicker.css" th:href="@{/vendor/bootstrap-3.3.7/datepicker/css/bootstrap-datetimepicker.css}" rel="stylesheet" />
	<link href="/vendor/datatables/dataTables.bootstrap.css" th:href="@{/vendor/datatables/dataTables.bootstrap.css}" rel="stylesheet" />
	<link href="/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" />

	<!-- common's javascript start -->
	<script type="text/javascript" src="/vendor/jquery-3.2.1.js" th:src="@{/vendor/jquery-3.2.1.js}"></script>
	<script type="text/javascript" src="/vendor/jquery-ui-1.12.1/jquery-ui.min.js" th:src="@{/vendor/jquery-ui-1.12.1/jquery-ui.min.js}"></script>
	<script type="text/javascript" src="/vendor/datatables/jquery.dataTables.js" th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
	<script type="text/javascript" src="/vendor/datatables/dataTables.bootstrap.js" th:src="@{/vendor/datatables/dataTables.bootstrap.js}"></script>
	<script type="text/javascript" src="/vendor/bootstrap-3.3.7/js/bootstrap.min.js" th:src="@{/vendor/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="/vendor/bootstrap-3.3.7/datepicker/js/moment.min.js" th:src="@{/vendor/bootstrap-3.3.7/datepicker/js/moment.min.js}"></script>
	<script type="text/javascript" src="/vendor/bootstrap-3.3.7/datepicker/js/moment-with-locales.min.js" th:src="@{/vendor/bootstrap-3.3.7/datepicker/js/moment-with-locales.min.js}"></script>
	<script type="text/javascript" src="/vendor/bootstrap-3.3.7/datepicker/js/bootstrap-datetimepicker.js" th:src="@{/vendor/bootstrap-3.3.7/datepicker/js/bootstrap-datetimepicker.js}"></script>
	<script type="text/javascript" src="/vendor/knockout-3.4.2.js" th:src="@{/vendor/knockout-3.4.2.js}"></script>
	<script type="text/javascript" src="/js/axio_common.js" th:src="@{/js/axio_common.js}"></script>
	<!-- common's javascript end -->
	<script src="./js/authUserCodeList.js" th:src="@{./js/authUserCodeList.js}"></script>
	<script>
		jQuery(function($){
/*
			$("#searchResultTable").DataTable({
					 lengthChange: false	// 件数切替機能 無効
					,searching: false		// 検索機能 無効
					,ordering: false		// ソート機能 無効
					,info: false			// 情報表示 無効
					,paging: false			// ページング機能 無効
//					,scrollY: '315px'		// 縦スクロールバーを有効にする (scrollYは200, "200px"など「最大の高さ」を指定します)
					,scrollCollapse: true
					,autoWidth:false		// 列幅の自動計算 無効
					,destroy: true			// 再描画 可能
					,columns:[
							 {"width":"10%" }	// チェックボックス
							,{"width":"15%"}	// 会社
							,{"width":"15%"}	// コード
							,{"width":"35%"}	// 名称
							,{"width":"25%"}	// 適用期間
							]
			});
*/
			$("#ui-datepicker-div").remove();
//			$.datepicker.setDefaults($.datepicker.regional["ja"]);
			$("#searchStartDateYmd").datepicker({
					 showButtonPanel: false		// 「Today」「Done」ボタン 無効
					,changeMonth: false 		// 「月」リスト選択 無効
					,changeYear: false			// 「年」リスト選択 無効
					,dateFormat: "yy/mm/dd"		// 日付フォーマット yyyy/MM/dd
					,firstDay: 0 			 	// 週の最初の曜日 0:日曜日
					, beforeShow: function (elem,dp) {
		  	            dp.dpDiv.css('z-index', '1051');
		  	        }
			});
			$("#searchEndDateYmd").datepicker({
					 showButtonPanel: false		// 「Today」「Done」ボタン 無効
					,changeMonth: false 		// 「月」リスト選択 無効
					,changeYear: false			// 「年」リスト選択 無効
					,dateFormat: "yy/mm/dd"		// 日付フォーマット yyyy/MM/dd
					,firstDay: 0 			 	// 週の最初の曜日 0:日曜日
					, beforeShow: function (elem,dp) {
		  	            dp.dpDiv.css('z-index', '1051');
		  	        }
			});
			$(".dpickDateCalendar").datepicker({
					 showButtonPanel: false		// 「Today」「Done」ボタン 無効
					,changeMonth: false 		// 「月」リスト選択 無効
					,changeYear: false			// 「年」リスト選択 無効
					,dateFormat: "yy/mm/dd"		// 日付フォーマット yyyy/MM/dd
					,firstDay: 0 			 	// 週の最初の曜日 0:日曜日
					, beforeShow: function (elem,dp) {
		  	            dp.dpDiv.css('z-index', '1051');
		  	        }
			});
		});
	</script>
</head>

<body>
	<nav class="navbar navbar-default " >
		<h3 class="navbar-text " style= "color:#fff; padding-top:5px; padding-left:40px;" >権限管理機能：ユーザーID一覧画面</h3>
	</nav>
	<div class="container">
		<div layout:fragment="content" >
			<form role="form-inline" action="/authUserCodeList" th:action="@{/}" th:object="${AuthUserCodeListForm}" method="post" class="form-horizontal" id="authUserCodeListForm">
				<input type="hidden" id="callForm" name="callForm" th:field="*{callForm}" />
				<input type="hidden" id="callParameter" name="callParameter" th:field="*{callParameter}" />
				<input type="hidden" id="callRetrun" name="callReturn" th:field="*{callReturn}" />
				<input type="hidden" id="checkedCodes" name="checkedCodes" th:field="*{checkedCodes}" />
				<input type="hidden" id="searchResultCount" name="searchResultCount" th:value="*{searchResultList.size()}" />
				<div id="DailogErrorMessage" class="col-sm-12 alert alert-danger asm_alert" th:style="*{errMessage} ? 'display:block' : 'display:none'" role="alert" >
					<span id="ActionErrorText" th:text="*{errMessage}"></span>
				</div>
				<div class="row ">
					<div class="form-inline " >
						<div class="asm_ctrl text-right col-xs-12" style="margin-top: 10px;">
							<button type="button" id="Search" class="btn btn-info axio_btn_middle" data-action="./authUserCodeListSearch">検索</button>
							<button type="button" id="Ok" class="btn btn-info axio_btn_middle" data-dismiss="modal">確定</button>
							<button type="button" id="Cancel" class="btn btn-info axio_btn_middle" data-dismiss="modal">キャンセル</button>
						</div>
					</div>
					<fieldset class="scheduler-border">
						<legend class="scheduler-border " >検索条件</legend>
						<div class="col-xs-12" >
							<div class="form-group form-group-flex">
								<div class="td-color2 col-xs-2 form-group-flex middle-center "><label class="control-label " >ユーザーID</label></div>
								<div class="td-color3 col-xs-4">
									<input type="text" id="searchUserCode" name="searchUserCode" class="form-control input-sm" th:field="*{searchUserCode}" />
								</div>
								<div class="td-color2 col-xs-2 form-group-flex middle-center"><label class="control-label " >ユーザー氏名</label></div>
								<div class="td-color3 col-xs-4 ">
									<input type="text" id="searchUserName" name="searchUserName" class="form-control input-sm " th:field="*{searchUserName}" />
								</div>
							</div>
					</div>
					</fieldset>
				</div>
				<div class="row">
					<fieldset class="scheduler-border">
						<legend class="scheduler-border " >検索結果一覧</legend>
							<table id="searchResultTable" class="table table-bordered asm_data_table text-center" style="margin-bottom:2px;">
								<thead >
									<tr class="asm_data_table_header">
										<th class="text-center" style="width:10%;">
											<div style="display: inline-block; text-align: center; width: 10px;"><input type="checkbox" id="checkAll" name="checkAll" autocomplete="off"></div>
											<div style="display: inline-block; text-align: right; width: 30px;">NO</div>
 										</th>
										<th class="text-center" style="width:15%;">ユーザーID</th>
										<th class="text-center" style="width:15%;">ユーザー氏名</th>
										<th class="text-center" style="width:38%;">所属部署</th>
										<th class="text-center" style="width:22%;">ユーザー在籍期間</th>
									</tr>
								</thead>
								<tbody id="resultList">
									<tr th:each="searchResult, start : *{searchResultList}" th:object="${searchResult}">
										<td class="asm_data_table_header text-center">
											<div style="display: inline-block; text-align: center; width: 10px;">
												<input type="checkbox" th:id="${'userCodeCheck_' + start.index}" name="userCodeCheck" autocomplete="off" th:attr="data-index= ${start.index}" th:value="${searchResult.userCode}" th:checked="${searchResult.checkedFlag}" />
											</div>
											<div style="display: inline-block; text-align: right; width: 30px;" th:id="${'no_' + start.index}" class="asm_data_table_header text-right" th:text="${start.index + 1}"></div>
											<input type="hidden" th:id="${'userNameHidden_' + start.index}" name="userNameHidden" th:value="${searchResult.userNameJp}" />
										</td>
										<td th:if="${searchResult.selectedFlag}" style="background-color: #66FFFF;" th:id="${'userCode_' + start.index}" class="master-back-grey text-left" th:text="${searchResult.userCode}" />
										<td th:if="${!searchResult.selectedFlag}" style="background-color: #eaedf7;" th:id="${'userCode_' + start.index}" class="master-back-grey text-left" th:text="${searchResult.userCode}" />
										<td th:if="${searchResult.selectedFlag}" style="background-color: #66FFFF;" th:id="${'userNameJp_' + start.index}" class="master-back-grey text-left" th:text="${searchResult.userNameJp}" />
										<td th:if="${!searchResult.selectedFlag}" style="background-color: #eaedf7;" th:id="${'userNameJp_' + start.index}" class="master-back-grey text-left" th:text="${searchResult.userNameJp}" />
										<td th:if="${searchResult.selectedFlag}" style="background-color: #66FFFF;" th:id="${'departmentName_' + start.index}" class="master-back-grey text-left" th:text="${searchResult.departmentName}" />
										<td th:if="${!searchResult.selectedFlag}" style="background-color: #eaedf7;" th:id="${'departmentName_' + start.index}" class="master-back-grey text-left" th:text="${searchResult.departmentName}" />
										<td th:if="${searchResult.selectedFlag}" style="background-color: #66FFFF;" th:id="${'startEndDate_' + start.index}" class="master-back-grey text-left" th:text="${searchResult.startDateYmd + ' - ' + searchResult.endDateYmd}" />
										<td th:if="${!searchResult.selectedFlag}" style="background-color: #eaedf7;" th:id="${'startEndDate_' + start.index}" class="master-back-grey text-left" th:text="${searchResult.startDateYmd + ' - ' + searchResult.endDateYmd}" />
									</tr>
							</tbody>
						</table>
					</fieldset>
				</div>
			</form>
		</div>
	</div>
</body>

</html>
