// main: ../style.scss

.login{
  .main{
    min-height: 100vh;
    background-color: #fff;
  }
  &Field{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 30px 60px 33px;
    letter-spacing: -1px;
    &__img{
      width: 117px;
      margin: 0 auto 28px;
    }
    &__textArea{
      &:not(:first-child){
        margin-top: 36px;
      }
      &__title{
        @include fontsize(14);
        margin-bottom: 5px;
      }
      &__eyeWrap{
        position: relative;
        .icon{
          position: absolute;
          width: 14px;
          height: 14px;
          top: 50%;
          right: 12px;
          background-image: url("/assets/img/icon_eyeclose.svg");
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center center;
          margin-top: -6px;
          cursor: pointer;
          &--on{
            background-image: url("/assets/img/icon_eyeopen.svg");
          }
        }
      }
      &__text{
        @include fontsize(12);
        margin-top: 9px;
        &--error{
          color: #DB0606;
        }
      }
    }
    &__button{
      display: block;
      color: #fff;
      padding: 11px 0 10px;
      width: 220px;
      margin: 45px auto 0;
      background-color: $default_blue;
      font-weight:700;
    }
    &__link{
      text-align: center;
      margin-top: 11px;
      >a{
        @include fontsize(12);
        color: $default_blue;
      }
    }
  }
}