<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.axio.masterMentsetSystem.repository.OOpeLogMapper">
  <resultMap id="BaseResultMap" type="jp.co.axio.masterMentsetSystem.model.OOpeLog">
    <result column="func_id" jdbcType="VARCHAR" property="funcId" />
    <result column="func_name" jdbcType="VARCHAR" property="funcName" />
    <result column="operation_user_id" jdbcType="VARCHAR" property="operationUserId" />
    <result column="target_user_id" jdbcType="VARCHAR" property="targetUserId" />
    <result column="operation_ts" jdbcType="TIMESTAMP" property="operationTs" />
    <result column="operation_detail" jdbcType="VARCHAR" property="operationDetail" />
    <result column="register_id" jdbcType="VARCHAR" property="registerId" />
    <result column="regist_ts" jdbcType="TIMESTAMP" property="registTs" />
    <result column="updater_id" jdbcType="VARCHAR" property="updaterId" />
    <result column="update_ts" jdbcType="TIMESTAMP" property="updateTs" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    func_id, func_name, operation_user_id, target_user_id, operation_ts, operation_detail, 
    register_id, regist_ts, updater_id, update_ts
  </sql>
  <select id="selectByExample" parameterType="jp.co.axio.masterMentsetSystem.model.OOpeLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from public.o_ope_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="jp.co.axio.masterMentsetSystem.model.OOpeLogExample">
    delete from public.o_ope_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="jp.co.axio.masterMentsetSystem.model.OOpeLog">
    insert into public.o_ope_log (func_id, func_name, operation_user_id, 
      target_user_id, operation_ts, operation_detail, 
      register_id, regist_ts, updater_id, 
      update_ts)
    values (#{funcId,jdbcType=VARCHAR}, #{funcName,jdbcType=VARCHAR}, #{operationUserId,jdbcType=VARCHAR}, 
      #{targetUserId,jdbcType=VARCHAR}, #{operationTs,jdbcType=TIMESTAMP}, #{operationDetail,jdbcType=VARCHAR}, 
      #{registerId,jdbcType=VARCHAR}, #{registTs,jdbcType=TIMESTAMP}, #{updaterId,jdbcType=VARCHAR}, 
      #{updateTs,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="jp.co.axio.masterMentsetSystem.model.OOpeLog">
    insert into public.o_ope_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="funcId != null">
        func_id,
      </if>
      <if test="funcName != null">
        func_name,
      </if>
      <if test="operationUserId != null">
        operation_user_id,
      </if>
      <if test="targetUserId != null">
        target_user_id,
      </if>
      <if test="operationTs != null">
        operation_ts,
      </if>
      <if test="operationDetail != null">
        operation_detail,
      </if>
      <if test="registerId != null">
        register_id,
      </if>
      <if test="registTs != null">
        regist_ts,
      </if>
      <if test="updaterId != null">
        updater_id,
      </if>
      <if test="updateTs != null">
        update_ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="funcId != null">
        #{funcId,jdbcType=VARCHAR},
      </if>
      <if test="funcName != null">
        #{funcName,jdbcType=VARCHAR},
      </if>
      <if test="operationUserId != null">
        #{operationUserId,jdbcType=VARCHAR},
      </if>
      <if test="targetUserId != null">
        #{targetUserId,jdbcType=VARCHAR},
      </if>
      <if test="operationTs != null">
        #{operationTs,jdbcType=TIMESTAMP},
      </if>
      <if test="operationDetail != null">
        #{operationDetail,jdbcType=VARCHAR},
      </if>
      <if test="registerId != null">
        #{registerId,jdbcType=VARCHAR},
      </if>
      <if test="registTs != null">
        #{registTs,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null">
        #{updaterId,jdbcType=VARCHAR},
      </if>
      <if test="updateTs != null">
        #{updateTs,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="jp.co.axio.masterMentsetSystem.model.OOpeLogExample" resultType="java.lang.Long">
    select count(*) from public.o_ope_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update public.o_ope_log
    <set>
      <if test="record.funcId != null">
        func_id = #{record.funcId,jdbcType=VARCHAR},
      </if>
      <if test="record.funcName != null">
        func_name = #{record.funcName,jdbcType=VARCHAR},
      </if>
      <if test="record.operationUserId != null">
        operation_user_id = #{record.operationUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.targetUserId != null">
        target_user_id = #{record.targetUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.operationTs != null">
        operation_ts = #{record.operationTs,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operationDetail != null">
        operation_detail = #{record.operationDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.registerId != null">
        register_id = #{record.registerId,jdbcType=VARCHAR},
      </if>
      <if test="record.registTs != null">
        regist_ts = #{record.registTs,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updaterId != null">
        updater_id = #{record.updaterId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTs != null">
        update_ts = #{record.updateTs,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update public.o_ope_log
    set func_id = #{record.funcId,jdbcType=VARCHAR},
      func_name = #{record.funcName,jdbcType=VARCHAR},
      operation_user_id = #{record.operationUserId,jdbcType=VARCHAR},
      target_user_id = #{record.targetUserId,jdbcType=VARCHAR},
      operation_ts = #{record.operationTs,jdbcType=TIMESTAMP},
      operation_detail = #{record.operationDetail,jdbcType=VARCHAR},
      register_id = #{record.registerId,jdbcType=VARCHAR},
      regist_ts = #{record.registTs,jdbcType=TIMESTAMP},
      updater_id = #{record.updaterId,jdbcType=VARCHAR},
      update_ts = #{record.updateTs,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>