body,html {
    background-color:#F8F8F8!important;

}
.navbar {
    /* background-color:#007300!important; */
    background-color: #1F3990!important;
    color:#fff;
    margin-bottom: 0px!important;
}
.lead {
	margin-bottom: 0px!important;
}
header.page-title {
	background-color:#616BA3;
	color:#fff;
	padding-top:10px;
	height:30px;
}

.row {
  margin-right: 5px !important;
  margin-left: 5px !important;
}
.container{
	width:900px;
}

.form-group {
    margin-bottom: 5px!important;
}
.form-group-flex{
	display:flex
}

.btn-info {
  color: #000 !important;
  background-color: #d3d3d3 !important;
  border-color: #d3d3d3 !important;
}

.btn-info:hover  {
    background-color: #a9a9a9 !important;
    border-color: #a9a9a9 !important;

}

.control-label{
	padding-top:0px !important;
}

/* .btn:hover  { */
/*     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
/* } */

/* fieldset*/
fieldset.scheduler-border {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 20px;
    border-bottom: none;
    margin:0;
    margin-bottom:10px;
    width:auto;
}
/* legend */
legend.scheduler-border {
    width: auto !important;
    padding:  7px 7px 7px 7px;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    border-left: 3px solid #337ab7;
    font-size: 18px ;
}

/* 繝懊ち繝ｳ繧ｵ繧､繧ｺ */
.axio_btn_middle {
	width:100px;
}

.axio_btn_large {
	width:150px;
}

/* 繝懊ち繝ｳ繧偵∪縺ｨ繧√※驟咲ｽｮ縺吶ｋ繝悶Ο繝�繧ｯ隕∫ｴ� */
.asm_ctrl {
	margin-bottom:10px;
}

/* 繝�繝ｼ繧ｿ繝�繝ｼ繝悶Ν */
.asm_data_table {
	background:#fff;
    table-layout: fixed;      /* 蛻怜ｹ�繧貞崋螳� */
}

/* 繝�繝ｼ繧ｿ繝�繝ｼ繝悶Ν繝倥ャ繝� */
.asm_data_table .asm_data_table_header {
    background:#337ab7;
    color:#fff;
}

/* 繝�繝ｼ繧ｿ繝�繝ｼ繝悶ΝTH TD */
.asm_data_table th, td {
	word-wrap: break-word;     /* 謾ｹ陦� */
}

/* 繧ｨ繝ｩ繝ｼ繧ｹ繧ｿ繧､繝ｫ�ｼ夐��逶ｮ縺斐→縺ｮ繧ｨ繝ｩ繝ｼ繝｡繝�繧ｻ繝ｼ繧ｸ */
.asm_error_style_item {
	display:inline-block;
	padding:2px 10px;
	margin-left:20px;
	margin-top:5px;
	margin-bottom:5px;
	color:red;
	border:1px solid pink;
	border-radius:1px;
	background:#f2dede;
}

/* 繧ｨ繝ｩ繝ｼ繧ｹ繧ｿ繧､繝ｫ�ｼ夐��逶ｮ繧ｨ繝ｩ繝ｼ */
.axio_field_error {
	border:1px solid #F29494 !important;
	color:#a94442 !important;
	background:#f2dede !important;
}

/* 逕ｻ髱｢諠�蝣ｱ繧ｨ繝ｩ繝ｼ繝｡繝�繧ｻ繝ｼ繧ｸ */
ul.asm_alert {
	list-style-type: none
}

/* 逕ｻ髱｢繧ｿ繧､繝医Ν */
#screenTitle {
    background-color: #fff;
    padding: 7px 7px 7px 7px;
    border:1px solid #DDDDDD;
    border-left: 3px solid #337ab7;
}
/* 逕ｻ髱｢繧ｿ繧､繝医Ν */
#screenTitle h2 {
	margin:0;
}

/* 蠢�鬆医�槭�ｼ繧ｯ */
.required  {
	color:red;
	font-weight:bold;
	margin-left:2px;
	display:inline-block;
}

/* 蠢�鬆医�槭�ｼ繧ｯ */
.required2  {
	background:red;
	color:#fff;
	font-weight:bold;
	margin-left:2px;
	display:inline-block;
	padding:1px 2px
}


.form-horizontal .control-label,
.form-inline .control-label {
	text-align:left !important;
}

@-ms-viewport
{
    width: auto;
    initial-scale: 1;
}

.pull-right{
  right: 0;
  left: auto;
}


 .font-red{
   color:red;
   font-size:12px;
 }

.td-color2{
   background-color:#337ab7;
   color:#fff;
   }

.td-color3{
   background-color:#DDDDDD;
   }

.td-color4{
   background-color:white;
   }

.th-height{
   height:54px;
}

.middle-margin{
   margin-top:5px;
   margin-bottom:5px;
 }

.middle-center{
   align-items:center;
 }

.div-td-bottom{
   vertical-align: bottom;
   border: 2px solid #ddd;
  }


.heightInfo{
    height: 540px !important;
}

.must-padding{
    padding-left:0px;
    padding-right:0px;
 }

.dataTables_scrollBody {
	overflow-x: hidden!important;
 }


 .dli-chevron-down {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    width: 20px;
    height: 20px;
    border: 0.3em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
  }


.modTitleArea__prevButton:hover {
  cursor: pointer;
}


/* callout */
.callout.callout-danger {
  border-left-color: #bd2130;
}

.callout {
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  background-color: #fff;
  border-left: 5px solid #e9ecef;
  margin-bottom: 1rem;
  padding: 1rem;
}



.btn-info2 {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.btn-info2 {
  /* color: #fff; */
  /* background-color: #17a2b8;
  border-color: #17a2b8;
  box-shadow: none; */
}

.btn-info2 {
  --bs-btn-color: #000;
  --bs-btn-bg: #0dcaf0;
  --bs-btn-border-color: #0dcaf0;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #31d2f2;
  --bs-btn-hover-border-color: #25cff2;
  --bs-btn-focus-shadow-rgb: 11,172,204;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #3dd5f3;
  --bs-btn-active-border-color: #25cff2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #0dcaf0;
  --bs-btn-disabled-border-color: #0dcaf0;
}

/* 必須項目アイコン */
.required {
  color: red;
}

.requiredsub {
  color: yellow;
}